@font-face {
  font-family: Share-Tech-Mono;
  src: url('fonts/ShareTechMono-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/ShareTechMono-Regular.woff') format('woff'),
       url('fonts/ShareTechMono-Regular.ttf') format('truetype');
}

body {
  background: #333;
  margin: 0;
}

header {
  align-items: flex-end;
  background-color: #18324E;
  color: white;
  display: flex;
  font-family: Share-Tech-Mono;
  position: fixed;
  width: 100%;
}

h1, header div {
  margin: 20px 40px;
}

header div {
  font-size: 1.5em;
  margin-left: auto;
}

header a {
  color: white;
  text-decoration: none;
}
header a:hover {
  color: #BECFE1;
}

svg {
  background-color: white;
  background-color: rgba(255,255,255,0.8);
}

.overlay {
  fill: none;
  pointer-events: all;
}
.tooltip {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  color: black;
  max-width: 400px;
  opacity: 1;
  padding: 0 15px 15px;
  pointer-events: none;
  position: fixed;
  transition: visibility 0s, opacity 0.3s linear;
  visibility: visible;
}
.hidden {
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  visibility: hidden;
}
